APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=sqlite

PACKAGIST_VENDOR=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

ACCESS_TOKEN=

LAST_FM_API_KEY=

GOOGLE_CALENDAR_ID=

GITHUB_TOKEN=
GITHUB_HOOK_SECRET=
GITHUB_USERNAME=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

VELO_STATIONS=

BUIENRADAR_LATITUDE=
BUIENRADAR_LONGITUDE=

SLACK_APP_TOKEN=

OPEN_WEATHER_MAP_KEY=

FORECAST_ACCOUNT_ID=
FORECAST_TOKEN=
FORECAST_PEOPLE=

UPTIMEROBOT_KEY=u86867-b4a492f6df46493942528fae

GMAIL_CLIENT_ID=218337703620-6ie3v661tj645bvpnn0ddpqqsm4l5gma.apps.googleusercontent.com
GMAIL_CLIENT_KEY=gGyrUJJP9U7ikJC9r_Q5ja20

WOOCOMMERCE_STORE_URL=https://plastkort.nu
WOOCOMMERCE_CONSUMER_KEY=ck_1a98937577e73132034fcb3fc7c1a7a5e08c75f8
WOOCOMMERCE_CONSUMER_SECRET=cs_1f73d03d1fe49af2e623f55e005b1a329caba754
WOOCOMMERCE_VERIFY_SSL=false
WOOCOMMERCE_VERSION=v1
WOOCOMMERCE_WP_API=true
WOOCOMMERCE_WP_QUERY_STRING_AUTH=false
WOOCOMMERCE_WP_TIMEOUT=15

MONDAY_API_KEY=b31b1ebd1c4c6f66b4bca5da595a0dcc